<footer class="text-white bg-black">
  <div
    class="container flex items-center justify-between pt-[33px] pb-[35px] mobile:flex-col mobile:gap-[50px]"
  >
    <div class="flex items-center gap-[64px] mobile:flex-col">
      <img src="/img/logo-bookmark-white.svg" alt="" />
      <ul class="flex gap-[45px] items-center mobile:flex-col">
        <li>
          <a
            href="#"
            class="text-[13px] tracking-[1.2px] uppercase hover:text-red duration-200"
            >Features</a
          >
        </li>
        <li>
          <a
            href="#"
            class="text-[13px] tracking-[1.2px] uppercase hover:text-red duration-200"
            >Pricing</a
          >
        </li>
        <li>
          <a
            href="#"
            class="text-[13px] tracking-[1.2px] uppercase hover:text-red duration-200"
            >Contact</a
          >
        </li>
      </ul>
    </div>
    <div class="flex items-center gap-[40px]">
      <a href="#"><img src="/img/icon-facebook.svg" alt="facebook icon" width="24" height="24"/></a>
      <a href="#"><img src="/img/icon-twitter.svg" alt="twitter icon" width="24" height="24"/></a>
    </div>
  </div>
</footer>
