<header class="container flex justify-between mt-[56px]">
  <img src="/img/logo-bookmark.svg" alt="bookmark logo" />
  <nav class="tablet:hidden">
    <ul class="flex gap-[46px] text-dark-blue">
      <li>
        <a
          href="#"
          class="text-[13px] tracking-[1.2px] uppercase hover:text-red duration-200"
          >Features</a
        >
      </li>
      <li>
        <a
          href="#"
          class="text-[13px] tracking-[1.2px] uppercase hover:text-red duration-200"
          >Pricing</a
        >
      </li>
      <li>
        <a
          href="#"
          class="text-[13px] tracking-[1.2px] uppercase hover:text-red duration-200"
          >Contact</a
        >
      </li>
      <li>
        <a
          href="#"
          class="text-[13px] text-white tracking-[1.4px] font-medium uppercase bg-red py-[11px] px-[30px] rounded-md shadow-btn border-2 border-transparent hover:text-red hover:bg-white hover:border-red duration-200"
          >Login</a
        >
      </li>
    </ul>
  </nav>
  <button class="cursor-pointer hidden tablet:block menu"
    ><img src="/img/icon-hamburger.svg" alt="menu icon" /></button
  >
</header>
