<main
  class="relative before:absolute before:right-0 before:bottom-0 before:w-[39%] before:h-[350px] before:bg-blue before:rounded-tl-[600px] before:rounded-bl-[600px] before:tablet:top-[12%] before:tablet:w-[75%] before:mobile:h-[200px] pb-[135px] desktop:pb-0"
>
  <div
    class="container relative grid justify-between  grid-cols-hero-grid mt-[112px] tablet:flex tablet:flex-col-reverse"
  >
    <article class="pt-[78px] tablet:text-center">
      <h1
        class="text-[clamp(36px,5cqw,46px)] text-dark-blue font-medium tracking-[0.9px] leading-[54px]"
      >
        A Simple Bookmark Manager
      </h1>
      <p
        class="text-[18px] text-gray tracking-[0.05px] leading-[28px] mt-[22px]"
      >
        A clean and simple interface to organize your favourite websites. Open a
        new browser tab and see your sites load instantly. Try it for free.
      </p>
      <div class="mt-[43px]">
        <a
          href="#"
          class="text-[13px] tracking-[0.9px] font-medium bg-blue text-white py-[15px] px-[21px] border-2 border-transparent rounded-md mr-[12px] shadow-btn hover:text-blue hover:bg-white hover:border-blue duration-200"
          >Get it on Chrome</a
        >
        <a
          href="#"
          class="text-[13px] tracking-[0.9px] font-medium bg-light-gray text-dark-blue py-[15px] px-[23px] border-2 border-transparent rounded-md shadow-btn hover:border-dark-blue duration-200"
          >Get it on Firefox</a
        >
      </div>
    </article>
    <img
      src="/img/illustration-hero.svg"
      alt="Hero illustration"
      width="657"
      height="466"
      class="absolute top-0 right-[-8.3%] desktop:static"
    />
  </div>
</main>
